/* ログインページ全体の背景色をオフホワイトに設定 */
body {
    background-color: #f5f5f5;
}

/* ログインフォームを中央に配置し、画面幅の1/3の大きさに設定 */
.login {
    width: 33%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /* メニュー画面の角を丸める */
}

/* login__titleを白文字、青背景でメニューの横幅いっぱいに設定 */
.login__title {
    color: white;
    background-color: blue;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin: 0 -20px 20px;
    margin-top: 0;
    /* メニュー上部の余白を無くす */
}

/* フォーム内のアイテムスタイル */
.login-form__item {
    display: flex;
    /* アイコンと入力フォームを横並びにする */
    align-items: center;
    margin-bottom: 10px;
}

/* フォーム内のアイテム画像 */
.login-form__item img {
    width: 24px;
    margin-right: 10px;
}

/* フォーム内の入力フィールド */
.login-form__item-input {
    width: 100%;
    padding: 5px;
    border: none;
    /* 下線のみにする */
    border-bottom: 2px solid black;
    /* 下線を追加 */
}

/* フォーム内のボタンの文字色と背景色を設定し、メニューの1/4の大きさに */
.login-form__button {
    display: block;
    /* 改行するためにblockに変更 */
    width: 25%;
    text-align: right;
    /* 右寄せにする */
}

.login-form__button-submit {
    display: flexbox;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s;
}

.login-form__button-submit:hover {
    background-color: darkblue;
}